html,
body {
  background: url(background.png) repeat-y;
  background-size: 100% 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}